# --- C# / Visual Studio Community ---
# Carpetas de compilación y caché
[Bb]in/
[Oo]bj/
.vs/

# Archivos de usuario y configuración local
*.user
*.suo
*.userosscache
*.sln.docstates

# --- BlueJ y Java ---
# Archivos de proyecto y compilación de BlueJ
*.class
*.ctxt
*.pkg
*.pkh

# Carpetas o archivos temporales generados por Java
target/
build/
*.log

# Archivos comprimidos o binarios
*.jar
*.war
*.zip

# Registros de errores de la máquina virtual Java
hs_err_pid*
